<div class="container">
  <h2>Liste des utilisateurs</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Prenom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Numero de telephone</th>
        <th>Numero de licence</th>
        <th>Mot de passe</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let utilisateur of _utilisateurliste">
        <td>{{utilisateur.id}}</td>
        <td>{{utilisateur.firstname}}</td>
        <td>{{utilisateur.lastname}}</td>
        <td>{{utilisateur.email}}</td>
        <td>{{utilisateur.phonenumber}}</td>
        <td>{{utilisateur.licencenumber}}</td>
        <td>{{utilisateur.password}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)= "goToEditUtilisateur(utilisateur.id)">Editer</button>&nbsp;
          <button type="button" class="btn btn-success" (click)= "goToVueUtilisateur(utilisateur.id)">Voir</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)= "supprimerUtilisateur(utilisateur.id)" >Supprimer</button>&nbsp;
        </td>
      </tr>

    </tbody>
  </table>
<button type="button" class="btn btn-success" (click)= "goToAjoutUtilisateur()">ajout nouveau utilisateur"</button>

</div>
